<h1>Body Mass Index Calculator</h1>

<h2>Error</h2>
<!--Error message container with a Bootstrap alert class for styling-->
<div class="alert alert-danger" role="alert">
    <strong>Error:</strong> {{message}} <!-- Strong element to make the "Error:" text bold -->
</div>
<!-- Link to navigate back to the home page (BMI form) -->
<a href="/BMIForm" class="btn btn-primary">Back to Home Page</a>