<h1>Body Mass Index Calculator</h1>
<h2>Enter you data</h2>
<form action="/calculate" method="GET">
    <label for="height">Height (in meters):</label>
    <input type="text" id="height" name="height" step="any" required>
    <br><br>
    <label for="weight">Weight (in kilograms):</label>
    <input type="text" id="weight" name="weight" step="any" required>
    <br><br>
    <button type="submit" class="btn btn-primary">Calculate</button>
</form>