body {
    background-color: lightblue;  
    font-family: Arial, sans-serif;  
    color: #333;  
}

h1, h2 {
    font-weight: bold;  
}

h1 {
    font-size: 2.5rem;  
    color: #4b2c8f;  
}

h2 {
    font-size: 1.8rem;  
    color:black; 
}

.alert {
    font-weight: bold;
}

.btn-primary {
    background-color: #4b2c8f;
    border-color: #4b2c8f;
}

.btn-primary:hover {
    background-color: #3e2370;
    border-color: #3e2370;
}